{% extends 'app/layout/commonhead3.html' %}
{% block content %}
{% load static %}

{% if felhasznalo.is_authenticated %}
            <div class="rightbox long">
                <div class="profile">   
                    <h1>Állást hirdetek</h1>
                    <div class="description">
                        <div class="contact"><!--Ez a div csak arra szolgál hogy könnyen megtudjam formázni az inputokat, de itt is description div-be rakom bele-->

                            <!-- Django view form -->
                            <!-- Form hibái -->
                            {% if form.errors %}
                            <ul class="errors">
                                {% for error in form.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% comment %} Maga a form {% endcomment %}
                            <form method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <h3>{{ field.label }}</h3>
                                    {% if field.help_text != "" %}
                                    <p>{{field.help_text}}</p>
                                    {% else %}
                                    {% endif %}
                                    {{ field }}
                                {% endfor %}
                                <input type="submit" value="Publikálás" class="hero-btn black-btn place-btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
    {% else %}
    <div class="rightbox">
        <div class="profile">
            <h1>Nem nem vagy bejelentezeve! Kérlek jelentkezz be, vagy hozz lére egy profilt!</h1>
            <h2>Bejelentkezés</h2>
            <a href="{% url 'bejelentkezes_auth' %}">Bejelentkezés</a>
            <h2>Regisztráció</h2>
            {% comment %} Kell majd egy rendes regisztrációt írni! {% endcomment %}
            <a href="{% url 'Regisztral' %}">Regisztrálás</a>
        </div>
    </div>
    </div>
    </section>
    {% endif %}
    {% endblock %}