{% extends 'app/layout/commonhead3.html' %}
{% block content %}
{% load static %}

{% if felhasznalo.is_authenticated %}
<div class="rightbox">
    <div class="profile">
        <h1>Jelentkezéseim</h1>
        {% if jelentkezesekLista is not none %}
        <table>
            <thead>
                <th>
                <td>Jelentkezéseid száma: {{jelentkezesekLista|length}}</td>
                <td></td>
                </th>
            </thead>
            <tbody>

                {% for jelentkezesElem in jelentkezesekLista %}
                        <tr>
                            <td>
                                <h3>
                                    {{jelentkezesElem.munka__nev}}
                                </h3>
                            </td>
                            <td>
                                {{jelentkezesElem.ido}}
                                <br>
                                {{jelentkezesElem.berigeny}}
                                <br>
                                {{jelentkezesElem.bemutatkozas}}
                            </td>
                        <tr>
                {% endfor %}

            </tbody>
        </table>
        {% else %}
        <h2>Egyenlőre nem jelentkeztél egy munkára se...</h2>
        {% endif %}
    </div>
</div>
</div>
</section>
<!----Footer---->
{% else %}
<div class="rightbox">
    <div class="profile">
        <h1>Nem nem vagy bejelentezeve! Kérlek jelentkezz be, vagy hozz lére egy profilt!</h1>
        <h2>Bejelentkezés</h2>
        <a href="{% url 'bejelentkezes_auth' %}">Bejelentkezés</a>
        <h2>Regisztráció</h2>
        {% comment %} Kell majd egy rendes regisztrációt írni! {% endcomment %}
        <a href="{% url 'Regisztral' %}">Regisztrálás</a>
    </div>
</div>
</div>
</section>
{% endif %}
{% endblock %}