{% extends 'app/layout/commonhead1.html' %}
{% block content %}
{% load static %}

    {% if felhasznalo.is_authenticated %}
    {% comment %} sima másolás a logedJobs.html fájlból {% endcomment %}
    <section class="jobs">
        <h1>Meghirdetett Állások</h1>    
        {% if allasok == "Hihetelen de nincs most aktív hirdetés!" %}
            <div class="row"><!----Ez egy sorba rendezi a 3 hírdetést----> 
                <div class="jobs-col"><!----Ez egy darab hirdetés "doboz"----> 
                    <h3>Hihetelen!</h3>
                    <p>Sajnos nincs jelengleg egy aktív állásunk se!</p>
                </div>
            </div
        {% else %}
            {% for allas in allasok %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                    {% endif %}
                    <div class="jobs-col logedjob">
                        <h3>{{allas.nev}}</h3>
                        {% if allas.berMax is none %}
                        <p>{{allas.berMin}}</p>
                        {% else %}
                        <p>{{allas.berMin}} --> {{allas.berMax}}</p>
                        {% endif %}
                        {% comment %} <p>{{allas.leiras}}</p> {% endcomment %}
                        <a class="hero-btn black-btn place-btn" href="{% url "MunkaReszlet" allas.id %}">Érdekel</a>
                    </div>
                {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </section>
    {% else %}
    <!--- Jobs----->
    <section class="jobs">
        <h1>Több mint <span class="num" num="1000">00</span>+ állás</h1>
        <p>Naponta 10 meghirdetett állás!</p>
        <div class="row">
            <div class="jobs-col">
                <h3>Vendéglátás</h3>
                <p>Szeretnél csak rendezvényeken, fesztiválokon, piacokon dolgozni mint pultos, szakács vagy pincér?
                    Ezen az oldalon kapkodnak ezekért a szakmákért hírdetőink!</p>
            </div>
            <div class="jobs-col">
                <h3>Magánszemélyek</h3>
                <p>Igen, jól olvastad! Magánszemélyként is megtudsz hirdetni állást! Esetleg a kertedben lévő fádat
                    akarod kivágni? Adj fel hírdetést és garantáltan kivágják a fádat annélkül, hogy neked hozzá kellene
                    érni a baltához!</p>
            </div>
            <div class="jobs-col">
                <h3>Szállítás</h3>
                <p>Netán van jogsid? És eleged van, hogy csak pénzt buksz az autózásoddal? Itt a megoldás! Rengeteg
                    magánszemély nem szeret várni a taxira és utálja a tömegközlekedést! És itt hirdeti meg napokkal
                    előbb hova akar menni! Csapj le rá gyorsan és legyél te a sofőr!</p>
            </div>
        </div>

    </section>

    <!--- Employers -->

    <section class="employers">
        <h1>Amit a Munkáltatók Garantálnak</h1>
        <div class="row">
            <div class="employers-col">
                <img src="{% static 'images/rugalmasság.jpg' %}" alt="Rugalmasság" title="Rugalmasság">
                <h3>Rugalmasság</h3>
                <p>Egy héten csak kétszer érsz rá dolgozni egyetem mellett? Semmi gond, hirdetőink rugalmasan állnak a
                    tanulmányaid és munkaidődhöz! Te mondod mikor akarsz menni, és hány napot egy héten! Ugye milyen jól
                    hangzik?</p>
            </div>
            <div class="employers-col">
                <img src="{% static 'images/kézfogás.jpg' %}" alt="Kézfogás" title="Kézfogás">
                <h3>Megbízhatóság</h3>
                <p>Mivel alkalmi munkáról van szó, nem sokan bíznak meg egymásban, de ezek a meghirdetett munkák valósak
                    és léteznek, ezeket mi és hirdetőink garantálják!</p>
            </div>
            <div class="employers-col">
                <img src="{% static 'images/érvényesség.jpg' %}" alt="Érvényesség" title="Érvényesség">
                <h3>Érvényesség</h3>
                <p>Ha már megbízhatóság, akkor érvenyesség is kéz a kézben jár! Kollégáink a folyamatosan ellenőrzik a
                    fiókok érvényességét, és hírdetéseink komolyságát!</p>
            </div>
        </div>

    </section>
    {% endif %}

{% endblock %}