/* új css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*overflow-x: hidden; */
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header h1 {
    color: #fff;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.fa-bars::before {
    color: #fff;
}

.text-box {
    width: 90%;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display: none;
}

/*reszponzív rész telefonhoz*/
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/*--Jobs--*/

.jobs {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.empty {
    margin-top: 5%;
    display: flex;
    justify-content: space-between
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.jobs-col {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.jobs-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*reszponzív rész telefonhoz*/
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*---PLaces--*/
.place {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.place-col {
    width: 400px;
    height: 490px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.place-col img {
    width: 100%;
    height: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
    ;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*reszponzív rész telefonhoz*/
@media(max-width: 700px) {
    .place-col {
        width: 300px;
        height: 360px;
        margin: auto;
        margin-top: 10%;
    }

}

/*-----Employers---*/

.employers {
    width: 80%;
    margin: auto;
    text-align: center;

}

.employers-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.employers-col img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
}

.employers-col p {
    padding: 0;
}

.employers-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*reszponzív rész telefonhoz*/
@media(max-width: 700px) {
    .employers-col img {
        width: 100%;
        height: 200px;
    }
}

/*--- Comments--*/

.comments {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.comments-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.comments-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.comments-col p {
    padding: 0;
}

.comments-col h3 {
    margin-top: 15px;
    text-align: left;
}

.comments-col .fa {
    color: #f44336;
}

/*reszponzív rész telefonhoz*/
@media (max-width: 700px) {
    .comments-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*---call to action--*/

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/*reszponzív rész telefonhoz*/
@media (max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/*-----footer----*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/*---About us page---*/

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: #fff;
}

/*---blog-content---*/

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;

}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}

/*reszponzív rész telefonhoz*/
@media(max-width:700px) {
    .sub-header h1 {
        font-size: 24px;
    }
}

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.contact-col div {
    flex-basis: flex;
    margin-bottom: 40px;
    display: flex;
    box-sizing: border-box;
    padding: 40px 32px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #f44336;
    padding: 10px;
    padding-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.white ul li a {
    color: #fff;
}

/*reszponzív rész telefonhoz*/
@media(max-width:700px) {
    .contact-col {
        display: table;
    }

    .contact-col div {
        margin: -30px;
    }
}

/*---Amikor már bejelentkezett profilban vagy és a meghirdetett állásokat látod---*/
.black-btn {
    border: 1px solid #000;
    background: transparent;
    color: #000;
}

.place-btn {
    margin-left: 250px;
}

.fa-color {
    color: #fff;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-color: #f4afaf;
    border-radius: 10px;
    transition: 0.5s;
}

#myInput:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    background-color: #f44336;
}

/*reszponzív rész telefonhoz*/
@media(max-width:700px) {
    #myInput {
        width: 200px;
    }

    .place-btn {
        margin-left: 200px;
    }
}

/*---Munka Jelentkezési oldal---*/

.description {
    width: 500px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    margin: 10px 10px;
    box-sizing: border-box;
    border: #000 1px solid;
}

.contact input,
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

/*reszponzív rész telefonhoz*/
@media(max-width:700px) {
    .description {
        width: 95%;
    }

    .contanct input {
        width: 100%;
    }

    .place-btn {
        margin-left: 34%;
    }
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-top: 36%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #000;
}

.alert button:hover {
    background-color: #000;
}

/*reszponzív rész tablethez (álló helyzetben)*/
@media(max-width:1200px) {
    .place-col {
        width: 300px;
        height: 380px;
    }

    .place-col img {
        width: 300px;
        height: 380px;
    }

    .employers-col img {
        width: 100%;
        height: 200px;
    }

    .contact-col {
        display: table;
        margin: auto;
    }

    .contact-col div {
        margin: -30px;
    }

    .jobs-col {
        margin: 10px;
    }

    .logedjob {
        margin: 10px -50px;
    }
}

/*reszponzív rész tablethez (elfordított helyzetben)*/
@media(max-width:820px) {
    .place-col {
        width: 200px;
        height: 280px;
    }

    .place-col img {
        width: 200px;
        height: 280px;
    }

    .employers-col img {
        width: 100%;
        height: 150px;
    }

    .comments-col {
        margin: 3%;
    }

    .contact-col {
        display: table;
        margin: auto;
    }

    .contact-col div {
        margin: -30px;
    }
}
/* hiba foltozások */
.jobs h1 {
    color: black;
}

.jobs-col h3 {
    color: black;
}

/* Kiegészítés Django-hoz */
.description h4, span, label{
    color: black;
    font-style:normal;
}