*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'Poppins', sans-serif ;
}

.header
{
 min-height: 100vh;
 width: 100%;
 background-image: url(images/banner.jpg);  
 background-position: center;
 background-size: cover;
 position: relative; 
}


/*---Login stlye---*/
.login-box
{
    position:relative;
    width: 380px;
    height: 420px;
    background:#f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    /* margin: 100px 800px;*/
    margin: auto;
}
@media(max-width:700px)
{
    .login-box
    {
        margin: 10px 80px;
    }
}
.login-box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #f44336, #f44336);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.login-box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #f44336, #f44336);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form
{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #fff;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2
{
    color: #f44336;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.input-box
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.input-box input
{
    position: relative;
    width: 100%;
    padding: 20px 0px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.input-box span
{
    position: absolute;
    left: 0;
    padding:  20px 10px 10px;
    font-size: 1em;
    color: #555;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.input-box input:valid ~ span,
.input-box input:focus ~ span
{
    color: #f44336;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}
.input-box i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f44336;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.input-box input:valid ~ i,
.input-box input:focus ~ i
{
   height: 44px;
}
.links
{
    display: flex;
    justify-content: space-between;
}
.links a
{
    margin: 10px 0;
    font-size: 0.75em;
    color: #555;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #f44336;
}
.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover
{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.footer
{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4
{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa
{
    color: #f44336;
    margin:  0 13px;
    cursor: pointer;
    padding: 18px 0;
}
nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img
{
    width: 150px;
}.register-box
{
    position:relative;
    width: 380px;
    height:740px;
    background:#f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}
.register-box::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 740px;
    background: linear-gradient(0deg, transparent, #f44336, #f44336);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.register-box::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 740px;
    background: linear-gradient(0deg, transparent, #f44336, #f44336);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}