{% extends 'app/layout/commonhead2.html' %}
{% block content %}
{% load static %}

<body>
    <section class="header">
        <nav> <a href="index.html"><img src="{% static 'logo.png' %}" alt="logo" title="logo"></a></nav>
        <div class="login-box">
            <div class="form">
                <h2>Bejelentkezés</h2>
                {% if user.is_authenticated %}
                    <p>Már be vagy jelentkezve! Nem kell erre az oldalra lépned! Hogy került ide?</p>
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    
                    {% comment %} form hibái {% endcomment %}
                    {% if form.errors %}
                        {% for hiba in form.errors %}
                            <p>{{hiba}}</p>
                        {% endfor %}
                    {% endif %}

                    <div class="input-box">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <i></i>
                    </div>
                    <div class="input-box">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <i></i>
                    </div>
                    <div class="links">
                        <a href="{% url 'Regisztral' %}">Regisztrálok</a>
                    </div>
                    <div>
                        <input type="submit" value="Bejelentkezek" class="hero-btn">
                    </div>
                </form>
                <p></p>
                {% endif %}
            </div>
        </div>
    </section>
    
    <section class="footer" id="footer">
        <h4>Közösségi Platformjaink</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas officia, hic quibusdam mollitia praesentium ut, <br> aperiam aliquam obcaecati error unde labore doloribus necessitatibus quis, a eos iusto facere. Dolores, sapiente.</p>    
        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
    </section>
{% endblock %}